<%- include('head') %>
<body>
	<div class="header">
		<div class="headerGroup">
			<img src="/images/favicon-white.png" alt="logo">
			<h1>Secret Group</h1>
		</div>
		<div class="user-opt">
			<ul>
				<li>
				 <a href="/user">User</a> </li>
				<li><a href="/log-out">Log-Out</a></li>
			</ul>
		</div>
	</div>
	<div class="container-bystander">
		<img src="/images/nobystander.png">
		<h1 class="not-member">No Bystander</h1>
		<h2 class="not-member">Prove your membership in the User Section</h2>
	</div>
</body>