<%- include('head')%>
<body>
	<div class="header">
		<div class="headerGroup">
			<img src="/images/favicon-white.png" alt="logo">
			<h1>Secret Group</h1></div>
	</div>
	<div class="container-home">
		<div class="sign-up-modal">
			<div class="modalContainer">
				<h1>Sign Up</h1>
				<form action="/sign-up" method="POST">
					<label for="username">
						Username
					</label>
					<input type="text" name="username"></input>
					<label for="password">
						Password
					</label>
					<input type="password" name="password"></input>
					<label for="confirmpassword">
						Confirm Password
					</label>
					<input type="password" name="confirmpassword">
					<button class="submitbtn" type="submit">Submit</button>
					<% if (typeof errors != 'undefined') {%>
						<ul>
							<% errors.forEach((error) => { %>
								<li>
									<%= error.msg %>
								</li>
							<%})%>
						</ul>
					<% } %>
				</form>
			</div>
		</div>
		<div class="log-in-modal">
			<div class="modalContainer">
				<h1>Log In</h1>
				<form action="/log-in" method="POST">
					<label for="username">
						Username
					</label>
					<input type="text" name="username"></input>
					<label for="password">
						Password
					</label>
					<input type="password" name="password"></input>
					<button class="submitbtn" type="submit">Submit</button>
					<% if (typeof errors != 'undefined') {%>
						<ul>
							<% errors.forEach((error) => { %>
								<li>
									<%= error.msg %>
								</li>
							<%})%>
						</ul>
					<% } %>
				</form>
			</div>
		</div>
		<h1 class="homeContent">Secret Group Members Only</h1>
		<div class="btngroup">
			<button class="homebtn sign-up">Sign-Up</button>
			<button class="homebtn log-in">Log-In</button>
		</div>
	</div>

</body>