@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;

}
html {
	height: 100%;
	width: 100%;

}
body {
	min-height: 100%;
	min-width: 100%;
	display:flex;
	flex-direction: column;
	position:relative;
}
.header {
	display:flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	border: 1px solid black;
	color:white;
	background-color:black;
}
.headerGroup {
	display: flex;
	align-items: center;
}
.headerGroup img{
	height: 75px;
}
.container-home {
	flex: 1 1 auto;
	position:relative;
/*	background: linear-gradient(60deg,#000000,#454545);*/
	background-image: url("/images/bghome.jpg") ;
	color: white;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	background-size:cover;
	background-position: center;
}
.homeContent {
	text-align: center;
	font-size: 3rem;
	text-shadow: black 2px 2px 2px;
/*	transform:scale(1.2,1.9);*/
}
.btngroup {
	display:flex;
	gap: 24px;
}
.modalbtn {
	flex: 1 1 0;
	background-color:rgba(0, 0, 0, 0.5);
	font-size:2rem;
	font-weight: 800;
	border: 2px solid transparent;
	padding: 5px 25px;
	width: 200px;
	height: 50px;
	text-shadow: black 2px 2px 2px;
	color:white;
}
.homebtn:hover {
	background-color:rgba(255, 255, 255, 0.5);
}
.homebtn:active {
	background-color:rgba(0, 0, 0, 0.5);
	color:black;
}
.sign-up-modal, .create-post-modal, .log-in-modal {
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	position: absolute;
	z-index: 2;
	display:none;
 }
 .on {
 	display: block;
 }
 .modalContainer {
/* 	position: absolute;*/
	border-radius: 36px;
	min-height: 75vh;
	max-width: 400px;
 	margin: auto;
 	background-color:white;
 	color:black;
 	display:flex;
 	flex-direction:column;
 	align-items:center;
 	padding: 36px;
 	gap:24px;
 	z-index: 100;
 }
.modalContainer form > *{
/*	text-align: center;*/
	font-size: 1.5rem;
	font-weight: 600;
	display:block;
	margin-bottom: 12px;
}
.submitbtn {
/*	flex: 1 1 0;*/
	background-color:rgba(0, 0, 0, 1);
	font-size:2rem;
	font-weight: 800;
	border: 2px solid transparent;
	padding: 5px 25px;
	width: 100%;
	color:white;
}
.submitbtn:hover {
	border: 2px solid black;
	background-color: white;
	color:black;
}
.submitbtn:active {
	background-color:black;
	color:white;
}
.user-opt ul{
	display:flex;
	list-style: none;

	gap:12px;
	font-size: 1.5rem;
	font-weight: 800;
}
a{
	text-decoration: none;
	color:white;
}
.container-chat {
	position:relative;
	flex: 1 1 auto;
	background-color: black;
	padding-bottom:48px;
}
.wrapper {
	margin-inline: auto;
	max-width: 1000px;
}
img[src="/images/masquerade.png"] {
	margin-top: 24px;
	height: 200px;
	filter:invert(200%);
	display: table;
	z-index: -1;
	margin-inline: auto;
}
.chatPost, .addPost {
	padding: 24px;
	background-color: white;
	border-radius: 16px;
	margin-block: 12px;
	margin-inline: 2%;
}
.chatPost > * {
	margin-bottom: 4px;
}
.userPost {
	margin-top:12px;
	display: flex;
	justify-content: space-between;
}
.header-chat {
	color:white;
	text-align: center;
	font-size: 3rem;
	margin-inline: 2%;
}
.addPost, .delbtn {
	background-color: white;
	color:black;
	width:96.1%;
	height: 70px;
	margin:0 2%;
	font-weight: 800;
	font-size: 2rem;
	text-align: center;
	padding:12px;
	border: 2px solid transparent;
	text-shadow: initial;
}
.addPost:active, .delbtn:active {
	background-color: black;
	border:2px solid white;
	color:white;
}
.delbtn {
	width:initial;
	height:initial;
	font-size:1.5rem;
	padding:4px;
	margin:0;
	border:2px solid black;
}
.container-user {
	flex: 1 1 0;
	background-color: black;
}
.userInfo {
	max-width: 1000px;
	text-align: center;
	margin-inline:2%;
	padding:24px;
	border-radius: 24px;
	background-color: white;
}
.userDescription {
	text-align: initial;
	font-size: 1.5rem;
}

form[action="/secret-code"] > * {
	width: 100%;
	height: 50px;
	display: block;
	margin-block: 12px;
}
form[action="/secret-code"] input, form[action="/secret-code"] {
	font-size: 2rem;
	font-weight: 400;
}
form[action="/secret-code"] {
	margin-bottom:24px;
}
.container-bystander {
	flex: 1 1 0;
	background-color: black;
	text-align: center;
/*	background: url("/images/nobystander.png");*/
}
.not-member {
	text-align: center;
	color:white;
}
img[src="/images/nobystander.png"] {
	filter:invert(100%);
	height: 450px;
}
textarea {
	resize:vertical;
}
